
@import '../vendor/lesshat/lesshat';
@import 'utils';
@import 'variables';


// Variables
// =========

@brand-color-primary   : #45AF66; // #398C39; //#AB12C0;
@brand-color-secondary : white;

@header-primary-bg-color   : @brand-color-primary;
@header-secondary-bg-color : @brand-color-secondary;
@footer-bg-color           : @brand-color-secondary;

@header-secondary-text-color : #504438; // #665C51;

@footer-tb-padding : 5px;

@component-lr-padding : 20px;

@font-size-1 : 28px;
@font-size-2 : 20px;
@font-size-3 : 16px;
@font-size-4 : 14px;

@impressed-color        : @header-secondary-text-color;
@impressed-border-color : darken(@impressed-color, 15%);


// Styles
// ======

body {
  .default-font();
}

.header {

  &.primary {
    background-color : @header-primary-bg-color;
    color            : white;
    font-size        : @font-size-1;
    font-weight      : 600;
    letter-spacing   : 1px;
    line-height      : 85px;
    padding          : 0 @component-lr-padding;
  }

  &.secondary {
    .box-shadow(0 1px 3px fade(black, 25%));
    background-color : @header-secondary-bg-color;
    border-bottom    : 1px solid fade(black, 35%);
    color            : @header-secondary-text-color;
    font-size        : @font-size-2;
  }
}

.panels {

  .panel {

    &.right {
      overflow : hidden; // To prevent box-shadows from leaking.

      .header {
        border-left : 1px solid fade(black, 15%);
      }

      .map {
        border-left : 1px solid white;
      }
    }
  }
}

.search {
  @width-of-label : 140px;

  label {
    cursor         : pointer;
    float          : left;
    font-size      : @font-size-3;
    font-weight    : bold;
    width          : @width-of-label;
    text-align     : center;
    opacity        : 0.75;
    padding        : 0;
    text-transform : uppercase;
  }

  .input {
    .transition(background @animation-duration);
    background : fade(white, 75%);
    border     : none;
    float      : left;
    font-size  : @font-size-2;
    outline    : none;
    width      : calc(~"100% - @{width-of-label}");

    &.focus {
      background : white;
    }

    input {
      @input-margin : 10px;

      .border-radius(3px);
      .default-font();
      background  : none;
      border      : 1px solid rgba(0,0,0,0.15);
      color       : #111;
      cursor      : pointer;
      font-size   : @font-size-3;
      font-weight : bold;
      height      : calc(~"100% - 20px");
      line-height : 1.4;
      margin      : @input-margin @input-margin @input-margin 0;
      outline     : none;
      padding     : 0 10px;
      width       : calc(~"100% - 10px");

      .placeholder-text(#B6B0AB, 300);
    }
  }
}

.footer {
  .box-shadow(0 -1px 3px fade(black, 25%));
  background  : @footer-bg-color;
  color       : @header-secondary-text-color;
  font-size   : @font-size-4;
  padding     : 0 @component-lr-padding;

  .footer-buttons {

    .footer-button {

      // Styles
      // ------

      .border-radius(3px);
      .transition(none);
      background      : #f5f0ec;
      border          : 1px solid #D3CEC8;
      cursor          : pointer;
      font-size       : @font-size-3;
      line-height     : @footer-height - 2 * (@footer-tb-padding + 1);
      margin          : 5px 0 5px 5px;
      padding         : 0 @component-lr-padding;
      text-decoration : none;

      // Exceptions
      // ----------

      &:first-child {
        margin-left : 0;
      }

      // States
      // ------

      &:hover {
        background-color : lighten(#f5f0ec, 2%);
      }

      &:active {

        .footer-button-content {
          .transform(translateY(1px));
        }
      }

      &.is-impressed {
        background-color : @impressed-color;
        border-color     : @impressed-border-color;
        color            : white;

        .show-by-default {
          display : none;
        }

        .show-when-impressed {
          display : initial;
        }
      }

      // Children
      // --------

      .show-by-default {
        display : initial;
      }

      .show-when-impressed {
        display : none;
      }

      .footer-button-icon {
        margin-right : 5px;
        opacity      : 0.75;
      }
    }
  }
}
